<div class="generic-container" ng-controller="JobController as ctrl">

			<form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">

				<label>Please fill the Job details..</label>

				<label class="col-md-2 control-lable" for="title">Job Title</label>
				<input type="text" ng-model="ctrl.job.jobName" id="title"
								class="title form-control input-sm"
								placeholder="Enter job title" required  />
				<label class="col-md-2 control-lable" for="qualification">location</label>
				<input type="text" ng-model="ctrl.job.jobLocation" id="qualification"
								class="title form-control input-sm"
								placeholder="Enter job qualification" required  />
				<label class="col-md-2 control-lable" for="qualification">Compnay</label>
				<input type="text" ng-model="ctrl.job.jobCompany" id="qualification"
								class="title form-control input-sm"
								placeholder="Enter job qualification" required  />
				<label class="col-md-2 control-lable" for="qualification">descrip</label>
				<input type="text" ng-model="ctrl.job.jobDescription" id="qualification"
								class="title form-control input-sm"
								placeholder="Enter job qualification" required  />
				<label class="col-md-2 control-lable" for="qualification">skill</label>
				<input type="text" ng-model="ctrl.job.jobSkills" id="qualification"
								class="title form-control input-sm"
								placeholder="Enter job qualification" required  />
				<label class="col-md-2 control-lable" for="qualification">experience</label>
				<input type="text" ng-model="ctrl.job.jobExperience" id="qualification"
								class="title form-control input-sm"
								placeholder="Enter job qualification" required  />
				
				
				<div class="row">
					<div class="form-actions floatRight">
						<input type="submit" value="Create Job" class="btn btn-primary btn-sm">
						<button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm">Reset Job</button>
					</div>
				</div>
			</form>
		</div>


	</div>
