<div id="headerwrapblog">
	<div class="container">
    	<div class="row">
        	<div class="col-lg-6 col-lg-offset-3">
          		<h1>Blog</h1>
          		<h5>A WONDERFUL SERENITY HAS TAKEN POSSESSION OF MY ENTIRE SOUL, LIKE THESE SWEET MORNINGS OF SPRING WHICH I ENJOY WITH MY WHOLE HEART.</h5>
        	</div>
		</div>
	</div>
</div>

<div class="container" ng-controller="BlogController1 as  blogctrl" style="margin-top: 20px">
	<div class="row">
		<div class="col-lg-12 blogbox">
    		<form ng-submit="blogctrl.submit()" name="myForm" class="form-horizontal" enctype="multipart/form-data" method="POST">
      			<p class="accountline accountlog" style="">POST A BLOG
        			<span class="glyphicon glyphicon-log-in pull-right"></span>
      			</p>
      			<p class="accountcolor">BLOG TITLE*</p>
      			<input type="text" class="form-control" ng-model="blogctrl.blog.blogName" style="border-radius: 1px;margin-top: -10px">
      			<p class="accountcolor" style="margin-top: 20px;">BLOG CONTENT*</p>
      			<textarea class="form-control" ng-model="blogctrl.blog.blogContent" style="border-radius: 1px;margin-top: -10px" rows="10"></textarea>
      			<input type="file" file-model="blogImage"/>
				<input type="submit" value="POST" class="btn btn-default" style="border-radius: 1px;margin-top: 10px">
      		</form>
      		<!-- <form name="blogForm" ng-submit="blogctrl.submitBlog()" enctype="multipart/form-data" method="POST">
				<input type="file" file-model="blogImage"/>
				<button type="submit" class="btn btn-lg btn-primary">Save</button>
			</form> -->
    	</div>
	</div>
</div>
