<div id="headerwrapblog">
	<div class="container">
    	<div class="row">
        	<div class="col-lg-6 col-lg-offset-3">
          		<h1>Blog</h1>
          		<h5>A WONDERFUL SERENITY HAS TAKEN POSSESSION OF MY ENTIRE SOUL, LIKE THESE SWEET MORNINGS OF SPRING WHICH I ENJOY WITH MY WHOLE HEART.</h5>
          		<a href="#!/addBlog"  class="btn btn-default" style="border-radius: 1px;margin-top: 10px">Post A Blog</a>
        	</div>
		</div>
	</div>
</div>

<div class="container" ng-controller="BlogController1 as blogctrl">
  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-4" ng-repeat="blog in blogctrl.blogs">
      <a href="#" ng-click="blogctrl.getBlogDetails(blog.blogId)"><img src="resources/image/blog{{blog.blogId}}.jpg" class="img-responsive blogimage" alt="Cinque Terre"></a>
      <h5>{{blog.blogName}}</h5>
      <h6>By {{blog.user.userFirstName}} {{blog.user.userLastName}} | {{blog.blogDate|date:'MM/dd/yyyy'}}</h6>
    </div>
    <!-- <div class="col-lg-4">
      <img src="https://i.stack.imgur.com/rhy46.png" class="img-responsive blogimage" alt="Cinque Terre">
      <h5>Our Short Trip</h5>
      <h6>By Thomas Anderson | 31 Dec 2016</h6>
    </div>
    <div class="col-lg-4">
      <img src="https://i.stack.imgur.com/rhy46.png" class="img-responsive blogimage" alt="Cinque Terre">
      <h5>Our Short Trip</h5>
      <h6>By Thomas Anderson | 31 Dec 2016</h6>
    </div> -->
  </div>
</div> 